*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

strong{
    font-size: 33px;
    color: hotpink;
    padding-right: 22px;
}

.h1{
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

.h2{
    margin-top: 22px;
    margin-bottom: 12px;
    font-size: 29px;
    font-weight: 300;
    color: #352125;
}

.divPrincipal{
    margin-top: 99px;
    margin-left: 99px;
}

.img{
    width:200px;
    height:200px;
    margin-bottom: 50px;
    border: 4px solid #80808080;
    border-radius: 60%;
    box-shadow: 12px 1px 0px #c41a1aa1;
}

.section{
    width: 50%;
    border-left: 40px solid #af1616a1;
    padding-left: 55px;
    padding-bottom: 22px;
    border-bottom: 10px solid #af1616a1;
    margin-top: 55px;
}

.ul{
    list-style: none;
    border-left: 2px solid grey;
}

.ul__li{
    padding-left: 9px;
    font-size: 19px;
    font-weight: 300;
    
}

.footer{
    width: 100%;
    height: 44px;
    padding-left: 44px;
    padding-right: 44px;
    background: #000000;
    color: #f0f8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.a{
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
}

.pie{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008080;
}

.a:hover{
    text-decoration: underline;
    color: rgba(28, 151, 182, 0.795);
}